// Variables

$light-gray: #f9fafd;
$gray: #282d35;
$dark-gray: #373737;
$border: rgba(0,0,0,.1);

// base classes


body {
    color: $gray;
    font-size: 100%;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    border: 1px solid $border;
    width: 100%
}

td, th {
    padding: 1.4em;
    border: 1px solid $border;
}
th {
    @extend .tc;
    @extend .light-gray-bg;
}
h1,h2,h3 {
    color: $dark-gray
}

select {
    display: block;
    border: 1px solid $border;
    padding: .4em .8em;
    height: 2em;
}

.count {
    margin: 0 .4em;
    display: inline-block;
    font-size: .9em;
}
main {
    width: 40em;
    margin: auto;
}

// helper classes

.button {
    background-color: #333;
    display: block;
    padding: 0.4em .8em;
    color: #fff;
    text-decoration: initial;
    font-size: .9em;
}

.light-gray-bg {
    background: $light-gray;
}

.tc {
    text-align: center;
}

.fl {
    float: left;
}

.mr {
    margin-right: .4em;
}
.mb {
    margin-bottom: .4em;
}

.cb {
    clear: both;
}
